@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

body {
  font-family: "Helvetica Neue","微软雅黑",sans-serif;
  font-size: 16px;
  font-weight: 100; }

@font-face {
  font-family: "daohangzuo";
  src: url("../icon/iconfont.woff"); }

.icon-font {
  font-family: "daohangzuo" !important; }

.icon-plus:before {
  content: "\e659"; }

@media screen and (min-width: 320px) {
  html {
    font-size: 29.62963px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 33.33333px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 34.72222px; } }

@media screen and (min-width: 385px) {
  html {
    font-size: 35.64815px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 38.14815px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 38.33333px; } }

@media screen and (min-width: 480px) {
  html {
    font-size: 44.44444px; } }

@media screen and (min-width: 540px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 1080px) {
  html {
    font-size: 100px; } }

@font-face {
  font-family: "fenyetu";
  src: url("../icon/iconfont.woff"); }

.icon-daohang {
  font-family: "fenyetu" !important; }

@font-face {
  font-family: "yinliangbiao";
  src: url("../icon/iconfont2.woff"); }

.icon-yinliangbiao {
  font-family: "yinliangbiao" !important; }

.icon-mianbaoxianxian:before {
  content: "\e74e"; }

.icon-sousuo:before {
  content: "\e896"; }

.icon-yinliang:before {
  content: "\f0108"; }

.daohang-box {
  width: 100%;
  height: 1.16rem;
  background: url("../img/daohang.png");
  background-size: contain;
  position: fixed;
  z-index: 999;
  transition: background .8s ease; }
  .daohang-box .daohang-zuo {
    width: 1.16rem;
    height: 1.16rem;
    float: left;
    line-height: 1.16rem;
    text-align: center;
    color: #FFFFFF; }
  .daohang-box .daohang-you {
    width: 1.16rem;
    height: 1.16rem;
    float: right;
    color: #FFFFFF;
    line-height: 1.16rem;
    font-size: 14px; }
  .daohang-box .daohang-zhong {
    width: 7.2rem;
    height: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 2px;
    background-color: rgba(245, 235, 234, 0.8);
    border-radius: 3px;
    font-size: 14px;
    color: #989898; }
    .daohang-box .daohang-zhong span {
      height: 100%;
      line-height: 1rem;
      margin: 0.32rem; }
    .daohang-box .daohang-zhong .sousuo {
      width: 0.53rem;
      height: 100%;
      float: right;
      margin-right: 0.32rem;
      line-height: 1rem; }

.daohang-bian {
  background: #cd232c; }

.zz {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: -100%;
  height: 100%;
  overflow: scroll; }
  .zz.move {
    animation: mov .8s ease both; }
  .zz.moves {
    animation: movs .8s ease both; }

.span5 {
  width: 1px;
  height: 3.6rem;
  display: block;
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35%;
  margin: auto; }

.span6 {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  border: 1px solid #999;
  line-height: 0.5rem;
  font-size: 0.4rem;
  color: #999;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 0.2rem;
  font-family: "微软雅黑"; }

.list-top {
  width: 90%;
  height: 1.3rem;
  line-height: 1.3rem;
  padding-left: 0.3rem;
  font-size: 0.38rem;
  background: #eee;
  box-sizing: border-box;
  text-align: left; }

.list {
  background: #eee;
  width: 90%; }

.li1 {
  background: #eee;
  list-style: none;
  width: 2.22rem;
  margin: 0;
  padding: 0;
  float: left;
  height: 100vh;
  overflow: scroll; }
  .li1 .lis {
    width: 100%;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 0.38rem;
    border-top: 0.02rem solid #e1e1e1; }
  .li1 .active {
    background: #fff; }

.li2 {
  width: calc(100% - 2.22rem);
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
  height: 100vh;
  overflow: scroll; }
  .li2 .liss {
    width: 100%;
    height: 100%;
    background: #fff;
    display: none; }
    .li2 .liss dl {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      background: #fff; }
      .li2 .liss dl dt {
        width: 100%;
        height: 1.8rem;
        line-height: 1.8rem;
        padding-left: 0.3rem;
        box-sizing: border-box;
        text-align: left;
        font-size: 0.38rem;
        color: #999;
        background: #fff; }
      .li2 .liss dl dd {
        width: 100%;
        background: #fff;
        height: 5.4rem; }
  .li2 .active {
    display: block; }

.tjs {
  height: 2.7rem;
  width: 33.3%;
  float: left;
  background: #fff; }
  .tjs .tj-img {
    width: 100%;
    height: 1.8rem; }
    .tjs .tj-img img {
      display: block;
      width: 100%;
      height: 100%; }
  .tjs span {
    display: block;
    font-size: 0.38rem;
    width: 100%; }

.dianji {
  width: 10%;
  float: right;
  height: 100vh;
  position: relative; }

@keyframes mov {
  0% {
    left: -100%; }
  100% {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto; } }

@keyframes movs {
  0% {
    left: 0; }
  100% {
    left: -100%; } }

#banner {
  width: 100%;
  height: 5.27rem; }
  #banner .img {
    width: 100%;
    height: 100%; }
  #banner .img1 {
    background: url("../img/TB1b4ZbNFXXXXazXpXXSutbFXXX.jpg_640x640q30s0.jpg_.webp");
    background-size: contain; }
  #banner .img2 {
    background: url("../img/TB1yN__NFXXXXbFapXXSutbFXXX.jpg_640x640q30s0.jpg_.webp");
    background-size: contain; }
  #banner .img3 {
    background: url("../img/TB2BV1Lacgb61BjSspjXXbhRVXa_!!68-0-yamato.jpg_640x640q30s0.jpg_.webp");
    background-size: contain; }
  #banner .img4 {
    background: url("../img/TB2GYWXXr1J.eBjy1zeXXX9kVXa_!!182-0-yamato.jpg_640x640q30s0.jpg_.webp");
    background-size: contain; }
  #banner .img5 {
    background: url("../img/TB2Ih4nXcaJ.eBjy0FbXXcwrFXa_!!147-0-yamato.jpg_640x640q30s0.jpg_.webp");
    background-size: contain; }
  #banner .img6 {
    background: url("../img/TB2J_K.XxeK.eBjSZFuXXcT4FXa_!!67-0-yamato.jpg_640x640q30s0.jpg_.webp");
    background-size: contain; }
  #banner .img7 {
    background: url("../img/TB2JRNgXbmI.eBjy1zjXXaq5VXa_!!123-0-yamato.jpg_640x640q30s0.jpg_.webp");
    background-size: contain; }
  #banner .img8 {
    background: url("../img/TB25IOUXByN.eBjSZFgXXXmGXXa_!!28-0-yamato.jpg_640x640q30s0.jpg_.webp");
    background-size: contain; }

.jifenleyuan {
  width: 10.15rem;
  height: 1.8rem;
  margin: 0 0.34rem;
  margin-top: 0.55rem; }
  .jifenleyuan .jifen {
    width: 2.03rem;
    height: 100%;
    float: left; }
    .jifenleyuan .jifen .tubiao {
      width: 100%;
      height: 1.26rem; }
    .jifenleyuan .jifen .tubiao1 {
      background: url("../img/TB1Rbw0NpXXXXXPapXXwu0bFXXX.png_.webp") no-repeat;
      background-size: contain;
      background-position: top center; }
    .jifenleyuan .jifen .tubiao2 {
      background: url("../img/TB1nfRqKFXXXXXvXVXXwu0bFXXX.png_.webp") no-repeat;
      background-size: contain;
      background-position: top center; }
    .jifenleyuan .jifen .tubiao3 {
      background: url("../img/TB1D4VmKFXXXXcRXVXXwu0bFXXX.png_.webp") no-repeat;
      background-size: contain;
      background-position: top center; }
    .jifenleyuan .jifen .tubiao4 {
      background: url("../img/TB1ONhvKFXXXXb_XFXXwu0bFXXX.png_.webp") no-repeat;
      background-size: contain;
      background-position: top center; }
    .jifenleyuan .jifen .tubiao5 {
      background: url("../img/TB1J.e2KVXXXXafXFXXXXXXXXXX-160-160.png_.webp") no-repeat;
      background-size: contain;
      background-position: top center; }
    .jifenleyuan .jifen .tubiao6 {
      background: url("../img/TB1RRdgKFXXXXaOaXXXwu0bFXXX.png_.webp") no-repeat;
      background-size: contain;
      background-position: top center; }
    .jifenleyuan .jifen .tubiao7 {
      background: url("../img/TB1cs46NpXXXXadXpXXwu0bFXXX.png_.webp") no-repeat;
      background-size: contain;
      background-position: top center; }
    .jifenleyuan .jifen .tubiao8 {
      background: url("../img/TB1jwdFKFXXXXc9XXXXwu0bFXXX.png_.webp") no-repeat;
      background-size: contain;
      background-position: top center; }
    .jifenleyuan .jifen .tubiao9 {
      background: url("../img/TB149tpKFXXXXa4XVXXwu0bFXXX.png_.webp") no-repeat;
      background-size: contain;
      background-position: top center; }
    .jifenleyuan .jifen .tubiao10 {
      background: url("../img/TB12oXAKFXXXXcDXpXXwu0bFXXX.png_.webp") no-repeat;
      background-size: contain;
      background-position: top center; }
    .jifenleyuan .jifen .biaoti {
      width: 100%;
      height: 0.54rem;
      font-size: 0.3rem;
      text-align: center; }

.tianmaoredian {
  width: 10.15rem;
  height: 1.2rem;
  margin: 0.53rem 0.34rem 0.3rem; }
  .tianmaoredian .tianmaoredian-zuo {
    width: 1.65rem;
    height: 1.2rem;
    border-right: 0.03rem solid #e7e7e7;
    float: left; }
    .tianmaoredian .tianmaoredian-zuo .tu {
      width: 1.5rem;
      height: 100%;
      background: url("../img/TB1FEnkIpXXXXbkaXXXVQpuFVXX-136-100.png_.webp") no-repeat;
      background-size: contain; }
  .tianmaoredian .tianmaoredian-zhong {
    width: 1.24rem;
    height: 100%;
    font-size: 0.8rem;
    color: #ff5b5f;
    line-height: 1.2rem;
    text-align: center;
    float: left; }
  .tianmaoredian #dierlunbo {
    width: 7.2rem;
    height: 100%;
    float: right; }
    .tianmaoredian #dierlunbo .heizi {
      display: block;
      width: 100%;
      height: 0.6rem;
      font-size: 0.3rem;
      line-height: 0.6rem; }
    .tianmaoredian #dierlunbo .hongzi {
      display: block;
      width: 100%;
      height: 0.6rem;
      font-size: 0.3rem;
      line-height: 0.6rem;
      color: #ff5b5f; }

.disanbo {
  height: 3.13rem;
  background: #eff0f2;
  padding-top: 0.15rem; }
  .disanbo .blue-slide {
    width: 5rem;
    height: 3.14rem;
    background: url("../img/TB1pbw6NFXXXXcXXXXXXXXXXXXX-528-326.png_.webp") no-repeat;
    background-size: contain;
    margin-right: 0.16rem;
    border-top: 0.14rem; }
  .disanbo .red-slide {
    width: 5rem;
    height: 3.14rem;
    background: url("../img/TB1OU3NNFXXXXcoXFXXXXXXXXXX-528-326.jpg_360x360q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    margin-right: 0.16rem;
    border-top: 0.14rem; }
  .disanbo .orange-slide {
    width: 5rem;
    height: 3.14rem;
    background: url("../img/TB2RuXIXiGO.eBjSZFjXXcU9FXa_!!1125710259.jpg_360x360q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    margin-right: 0.16rem;
    border-top: 0.14rem; }

.biqiang {
  width: 100%;
  height: 0.9rem;
  background: #f1f1f1;
  position: relative; }
  .biqiang .biqiang-box {
    width: 4.04rem;
    height: 0.46rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .biqiang .biqiang-box .biqiang-zuo {
      width: 1.03rem;
      height: 0.03rem;
      background: #ff5b5f;
      margin-top: 0.23rem;
      float: left; }
    .biqiang .biqiang-box .biqiang-you {
      width: 1.03rem;
      height: 0.03rem;
      background: #ff5b5f;
      margin-top: 0.23rem;
      float: right; }
    .biqiang .biqiang-box .biqiang-zhong {
      width: 1.4rem;
      height: 0.46rem;
      float: left;
      margin-left: 0.31rem; }
      .biqiang .biqiang-box .biqiang-zhong .biqiang-tubiao {
        width: 0.46rem;
        height: 0.46rem;
        background: url("../img/TB1z5R9LXXXXXa5XFXXpu65FpXX-22-26.png_.webp") no-repeat;
        background-size: contain;
        background-position: center;
        float: left; }
      .biqiang .biqiang-box .biqiang-zhong .biqiang-nei {
        width: 0.84rem;
        height: 100%;
        color: #ff5b5f;
        font-size: 0.23rem;
        float: right; }

.tongxie {
  width: 100%;
  height: 4.06rem;
  border-bottom: 0.02rem solid #f1f1f1; }
  .tongxie .tongxie-box {
    width: 2.7rem;
    height: 100%;
    float: left;
    border-right: 0.01rem solid #f1f1f1;
    box-sizing: border-box; }
    .tongxie .tongxie-box .tongxie-shang {
      width: 100%;
      height: 0.85rem;
      font-size: 0.34rem;
      line-height: 0.85rem;
      text-align: center; }
    .tongxie .tongxie-box .tongxie-zhong1 {
      width: 100%;
      height: 2.26rem;
      background: url("../img/TB1pBUoNpXXXXapXFXXSutbFXXX.jpg_485x175q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .tongxie .tongxie-box .tongxie-zhong2 {
      width: 100%;
      height: 2.26rem;
      background: url("../img/TB1_vhpKFXXXXXHXXXXSutbFXXX.jpg_485x175q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .tongxie .tongxie-box .tongxie-zhong3 {
      width: 100%;
      height: 2.26rem;
      background: url("../img/TB16oeRLVXXXXX8apXXSutbFXXX.jpg_485x175q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .tongxie .tongxie-box .tongxie-zhong4 {
      width: 100%;
      height: 2.26rem;
      background: url("../img/TB1aT8oKXXXXXbXaXXXSutbFXXX.jpg_485x175q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .tongxie .tongxie-box .tongxie-zhong5 {
      width: 100%;
      height: 2.26rem;
      background: url("../img/TB2wCXYjVXXXXaFXXXXXXXXXXXX_!!2-subaru.png_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .tongxie .tongxie-box .tongxie-zhong6 {
      width: 100%;
      height: 2.26rem;
      background: url("../img/TB1XL0ILVXXXXaoXpXXSutbFXXX.jpg_485x175q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .tongxie .tongxie-box .tongxie-zhong7 {
      width: 100%;
      height: 2.26rem;
      background: url("../img/TB1lG8GKFXXXXa4XXXXSutbFXXX.jpg_485x175q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .tongxie .tongxie-box .tongxie-zhong8 {
      width: 100%;
      height: 2.26rem;
      background: url("../img/TB2NAQOkpXXXXaqXpXXXXXXXXXX_!!2-subaru.png_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .tongxie .tongxie-box .tongxie-xia {
      width: 2.7rem;
      height: 0.97rem; }
      .tongxie .tongxie-box .tongxie-xia .jiage-zuo {
        height: 100%;
        font-size: 0.10rem;
        line-height: 0.97rem;
        color: #ff5b5f; }
      .tongxie .tongxie-box .tongxie-xia .jiage-you {
        height: 100%;
        font-size: 0.10rem;
        line-height: 0.97rem;
        color: #9b9b9b;
        text-decoration: line-through; }

.biqiang {
  width: 100%;
  height: 0.9rem;
  background: #f1f1f1;
  position: relative; }
  .biqiang .pinpaitemai-box {
    width: 4.87rem;
    height: 0.46rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .biqiang .pinpaitemai-box .biqiang-zuo {
      width: 1.03rem;
      height: 0.03rem;
      background: #ff7b00;
      margin-top: 0.23rem;
      float: left; }
    .biqiang .pinpaitemai-box .biqiang-you {
      width: 1.03rem;
      height: 0.03rem;
      background: #ff7b00;
      margin-top: 0.23rem;
      float: right; }
    .biqiang .pinpaitemai-box .pinpaitemai-zhong {
      width: 2.21rem;
      height: 0.46rem;
      float: left;
      margin-left: 0.31rem; }
      .biqiang .pinpaitemai-box .pinpaitemai-zhong .biqiang-tubiao {
        width: 0.46rem;
        height: 0.46rem;
        background: url("../img/TB1x91TLpXXXXcBXXXXgBrbGpXX-36-36.png_.webp") no-repeat;
        background-size: contain;
        background-position: center;
        float: left; }
      .biqiang .pinpaitemai-box .pinpaitemai-zhong .pinpaitemai-nei {
        height: 100%;
        color: #ff7b00;
        font-size: 0.23rem;
        float: right; }

.dianqing-box {
  width: 100%;
  height: 3.18rem; }
  .dianqing-box .dianqing-zuo {
    width: 5.4rem;
    height: 100%;
    border-right: 0.01rem solid #f1f1f1;
    box-sizing: border-box;
    float: left;
    background: url("../img/TB1Sq.WNFXXXXaKXXXXG5FDFpXX-561-330.jpg_320x5000q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center; }
  .dianqing-box .dianqing-you {
    width: 5.4rem;
    height: 100%;
    float: left;
    background: url("../img/TB1NXL.NFXXXXc3XXXXwu0bFXXX.png_.webp") no-repeat;
    background-size: contain;
    background-position: center; }

.pinpaizixun {
  width: 100%;
  height: 0.9rem;
  background: #f1f1f1;
  position: relative; }
  .pinpaizixun .pinpaitemai-box {
    width: 4.87rem;
    height: 0.46rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .pinpaizixun .pinpaitemai-box .biqiang-zuo {
      width: 1.03rem;
      height: 0.03rem;
      background: #029a8d;
      margin-top: 0.23rem;
      float: left; }
    .pinpaizixun .pinpaitemai-box .biqiang-you {
      width: 1.03rem;
      height: 0.03rem;
      background: #029a8d;
      margin-top: 0.23rem;
      float: right; }
    .pinpaizixun .pinpaitemai-box .pinpaitemai-zhong {
      width: 2.21rem;
      height: 0.46rem;
      float: left;
      margin-left: 0.31rem; }
      .pinpaizixun .pinpaitemai-box .pinpaitemai-zhong .biqiang-tubiao {
        width: 0.46rem;
        height: 0.46rem;
        background: url("../img/TB1vBu1LpXXXXXtXXXXuv2kGFXX-39-39.png_.webp") no-repeat;
        background-size: contain;
        background-position: center;
        float: left; }
      .pinpaizixun .pinpaitemai-box .pinpaitemai-zhong .pinpaitemai-nei {
        height: 100%;
        color: #029a8d;
        font-size: 0.23rem;
        float: right; }

.pinpaizixunbox {
  width: 100%;
  height: 5rem; }
  .pinpaizixunbox .pinpaizixun-zuo {
    width: 3.6rem;
    height: 100%;
    background: url("../img/TB16MsmNFXXXXcxXVXXocn9PXXX-372-522.jpg_220x10000q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }
  .pinpaizixunbox .pinpaizixun-zhong {
    width: 3.6rem;
    height: 100%;
    background: url("../img/TB1f47wNFXXXXXKaXXXSutbFXXX.jpg_220x10000q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
    border-right: 0.01rem solid #f1f1f1;
    border-left: 0.01rem solid #f1f1f1;
    box-sizing: border-box; }
  .pinpaizixunbox .pinpaizixun-you {
    width: 3.6rem;
    height: 100%;
    background: url("../img/TB1P.EUNFXXXXXwXpXXocn9PXXX-372-522.jpg_220x10000q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }

.yida {
  width: 100%;
  height: 2.68rem;
  background: url("../img/TB19v2gNFXXXXXkXVXXSutbFXXX.jpg_640x640q30s0.jpg_.webp") no-repeat;
  background-position: center;
  background-size: contain; }

.bianjieshenghuo {
  width: 100%;
  height: 0.9rem;
  background: #f0f0f0;
  position: relative; }
  .bianjieshenghuo .pinpaitemai-box {
    width: 4.87rem;
    height: 0.46rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .bianjieshenghuo .pinpaitemai-box .biqiang-zuo {
      width: 1.03rem;
      height: 0.03rem;
      background: #40b400;
      margin-top: 0.23rem;
      float: left; }
    .bianjieshenghuo .pinpaitemai-box .biqiang-you {
      width: 1.03rem;
      height: 0.03rem;
      background: #40b400;
      margin-top: 0.23rem;
      float: right; }
    .bianjieshenghuo .pinpaitemai-box .pinpaitemai-zhong {
      width: 2.21rem;
      height: 0.46rem;
      float: left;
      margin-left: 0.31rem; }
      .bianjieshenghuo .pinpaitemai-box .pinpaitemai-zhong .biqiang-tubiao {
        width: 0.46rem;
        height: 0.46rem;
        background: url("../img/TB1NEmBLpXXXXXjXVXXLefsGVXX-45-42.png_.webp") no-repeat;
        background-size: contain;
        background-position: center;
        float: left; }
      .bianjieshenghuo .pinpaitemai-box .pinpaitemai-zhong .pinpaitemai-nei {
        height: 100%;
        color: #40b400;
        font-size: 0.23rem;
        float: right; }

.jisuda-box {
  width: 100%;
  height: 4.22rem; }
  .jisuda-box .jisuda-zuo {
    width: 4.77rem;
    height: 100%;
    background: url("../img/TB1WHbLNFXXXXXkapXXdmtMMXXX-501-441.jpg_284x284q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
    border-right: 0.03rem;
    box-sizing: border-box; }
  .jisuda-box .jisuda-you {
    width: 6.03rem;
    height: 100%;
    float: left; }
    .jisuda-box .jisuda-you .jinkouguan {
      width: 100%;
      height: 2.11rem;
      background: url("../img/TB1.yj0NFXXXXcaXVXX9z3jTFXX-624-219.jpg_360x360q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .jisuda-box .jisuda-you .shengxianqu {
      width: 100%;
      height: 2.11rem;
      background: url("../img/TB1j3b_NFXXXXa7XFXX9z3jTFXX-624-219.jpg_360x360q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }

.guojihaigou {
  width: 100%;
  height: 0.9rem;
  background: #f0f0f0;
  position: relative; }
  .guojihaigou .pinpaitemai-box {
    width: 4.87rem;
    height: 0.46rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .guojihaigou .pinpaitemai-box .biqiang-zuo {
      width: 1.03rem;
      height: 0.03rem;
      background: #822ad6;
      margin-top: 0.23rem;
      float: left; }
    .guojihaigou .pinpaitemai-box .biqiang-you {
      width: 1.03rem;
      height: 0.03rem;
      background: #822ad6;
      margin-top: 0.23rem;
      float: right; }
    .guojihaigou .pinpaitemai-box .pinpaitemai-zhong {
      width: 2.21rem;
      height: 0.46rem;
      float: left;
      margin-left: 0.31rem; }
      .guojihaigou .pinpaitemai-box .pinpaitemai-zhong .biqiang-tubiao {
        width: 0.46rem;
        height: 0.46rem;
        background: url("../img/TB1h7mwLpXXXXb9XVXX8zTyHXXX-48-33.png_.webp") no-repeat;
        background-size: contain;
        background-position: center;
        float: left; }
      .guojihaigou .pinpaitemai-box .pinpaitemai-zhong .pinpaitemai-nei {
        height: 100%;
        color: #822ad6;
        font-size: 0.23rem;
        float: right; }

.guojihaigoubox {
  width: 100%;
  height: 5rem; }
  .guojihaigoubox .pinpaizixun-zuo {
    width: 3.6rem;
    height: 100%;
    background: url("../img/TB1MmIoNFXXXXcXXXXXVoDZPXXX-372-441.jpg_220x10000q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }
  .guojihaigoubox .pinpaizixun-zhong {
    width: 3.6rem;
    height: 100%;
    background: url("../img/TB1PKdPKXXXXXb0XXXXzo_ZPXXX-372-441.png_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
    border-right: 0.01rem solid #f1f1f1;
    border-left: 0.01rem solid #f1f1f1;
    box-sizing: border-box; }
  .guojihaigoubox .pinpaizixun-you {
    width: 3.6rem;
    height: 100%;
    background: url("../img/TB1KWIFNFXXXXaaXVXXVoDZPXXX-372-441.jpg_220x10000q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }

.jingxuanshichang {
  width: 100%;
  height: 0.9rem;
  background: #f0f0f0;
  position: relative; }
  .jingxuanshichang .pinpaitemai-box {
    width: 4.87rem;
    height: 0.46rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .jingxuanshichang .pinpaitemai-box .biqiang-zuo {
      width: 1.03rem;
      height: 0.03rem;
      background: #de4888;
      margin-top: 0.23rem;
      float: left; }
    .jingxuanshichang .pinpaitemai-box .biqiang-you {
      width: 1.03rem;
      height: 0.03rem;
      background: #de4888;
      margin-top: 0.23rem;
      float: right; }
    .jingxuanshichang .pinpaitemai-box .pinpaitemai-zhong {
      width: 2.21rem;
      height: 0.46rem;
      float: left;
      margin-left: 0.31rem; }
      .jingxuanshichang .pinpaitemai-box .pinpaitemai-zhong .biqiang-tubiao {
        width: 0.46rem;
        height: 0.46rem;
        background: url("../img/TB1vd5OLpXXXXaSXpXX8zTyHXXX-48-33.png_.webp") no-repeat;
        background-size: contain;
        background-position: center;
        float: left; }
      .jingxuanshichang .pinpaitemai-box .pinpaitemai-zhong .pinpaitemai-nei {
        height: 100%;
        color: #de4888;
        font-size: 0.23rem;
        float: right; }

.huanxin-box {
  width: 100%;
  height: 3.76rem;
  border-bottom: 0.06rem solid #f1f1f1; }
  .huanxin-box .huanxin1 {
    width: 2.7rem;
    height: 100%;
    background: url("../img/TB18sfUKFXXXXaeapXXqNjQVVXX-282-393.jpg_160x160q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }
  .huanxin-box .huanxin2 {
    width: 2.7rem;
    height: 100%;
    background: url("../img/TB1kCziLpXXXXXYXFXXqNjQVVXX-282-393.jpg_160x160q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }
  .huanxin-box .huanxin3 {
    width: 2.7rem;
    height: 100%;
    background: url("../img/TB1oA.tNXXXXXXqapXXqNjQVVXX-282-393.jpg_160x160q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }
  .huanxin-box .huanxin4 {
    width: 2.7rem;
    height: 100%;
    background: url("../img/TB1vbTeLpXXXXcyXFXXqNjQVVXX-282-393.jpg_160x160q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }

.aiyundong-box {
  width: 100%;
  height: 3.18rem; }
  .aiyundong-box .dianqing-zuo {
    width: 5.4rem;
    height: 100%;
    border-right: 0.01rem solid #f1f1f1;
    box-sizing: border-box;
    float: left;
    background: url("../img/TB1jWWYNXXXXXXBXFXXZKDfFVXX-562-330.jpg_320x5000q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center; }
  .aiyundong-box .dianqing-you {
    width: 5.4rem;
    height: 100%;
    float: left;
    background: url("../img/TB1WKeBNXXXXXXCapXXZKDfFVXX-562-330.jpg_320x5000q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center; }

.aishenghuo {
  width: 100%;
  height: 0.9rem;
  background: #f0f0f0;
  position: relative; }
  .aishenghuo .pinpaitemai-box {
    width: 4.87rem;
    height: 0.46rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .aishenghuo .pinpaitemai-box .biqiang-zuo {
      width: 1.03rem;
      height: 0.03rem;
      background: #11b6ff;
      margin-top: 0.23rem;
      float: left; }
    .aishenghuo .pinpaitemai-box .biqiang-you {
      width: 1.03rem;
      height: 0.03rem;
      background: #11b6ff;
      margin-top: 0.23rem;
      float: right; }
    .aishenghuo .pinpaitemai-box .pinpaitemai-zhong {
      width: 2.21rem;
      height: 0.46rem;
      float: left;
      margin-left: 0.31rem; }
      .aishenghuo .pinpaitemai-box .pinpaitemai-zhong .biqiang-tubiao {
        width: 0.46rem;
        height: 0.46rem;
        background: url("../img/TB14m1zLpXXXXaZXVXXLefsGVXX-45-39.png_.webp") no-repeat;
        background-size: contain;
        background-position: center;
        float: left; }
      .aishenghuo .pinpaitemai-box .pinpaitemai-zhong .pinpaitemai-nei {
        height: 100%;
        color: #11b6ff;
        font-size: 0.23rem;
        float: right; }

.shenghuojia-box {
  width: 100%;
  height: 3.76rem;
  border-bottom: 0.06rem solid #f1f1f1; }
  .shenghuojia-box .huanxin1 {
    width: 2.7rem;
    height: 100%;
    background: url("../img/TB1ZFymNpXXXXa0apXXqNjQVVXX-282-423.jpg_160x160q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }
  .shenghuojia-box .huanxin2 {
    width: 2.7rem;
    height: 100%;
    background: url("../img/TB12dz.NFXXXXcKXXXXqNjQVVXX-282-423.jpg_160x160q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }
  .shenghuojia-box .huanxin3 {
    width: 2.7rem;
    height: 100%;
    background: url("../img/TB1fiEONFXXXXXzXFXXqNjQVVXX-282-423.jpg_160x160q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }
  .shenghuojia-box .huanxin4 {
    width: 2.7rem;
    height: 100%;
    background: url("../img/TB1iOSCNpXXXXb4XVXXqNjQVVXX-282-423.jpg_160x160q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }

.chaoliukuwan {
  width: 100%;
  height: 0.9rem;
  background: #f0f0f0;
  position: relative; }
  .chaoliukuwan .pinpaitemai-box {
    width: 4.87rem;
    height: 0.46rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .chaoliukuwan .pinpaitemai-box .biqiang-zuo {
      width: 1.03rem;
      height: 0.03rem;
      background: #438af6;
      margin-top: 0.23rem;
      float: left; }
    .chaoliukuwan .pinpaitemai-box .biqiang-you {
      width: 1.03rem;
      height: 0.03rem;
      background: #438af6;
      margin-top: 0.23rem;
      float: right; }
    .chaoliukuwan .pinpaitemai-box .pinpaitemai-zhong {
      width: 2.21rem;
      height: 0.46rem;
      float: left;
      margin-left: 0.31rem; }
      .chaoliukuwan .pinpaitemai-box .pinpaitemai-zhong .biqiang-tubiao {
        width: 0.46rem;
        height: 0.46rem;
        background: url("../img/TB1jreQLpXXXXaxXpXXdNLcGpXX-36-42.png_.webp") no-repeat;
        background-size: contain;
        background-position: center;
        float: left; }
      .chaoliukuwan .pinpaitemai-box .pinpaitemai-zhong .pinpaitemai-nei {
        height: 100%;
        color: #438af6;
        font-size: 0.23rem;
        float: right; }

.suningyigou {
  width: 100%;
  height: 5rem; }
  .suningyigou .pinpaizixun-zuo {
    width: 3.6rem;
    height: 100%;
    background: url("../img/TB1PcghNFXXXXcVapXXM0z2PXXX-372-453.jpg_220x10000q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }
  .suningyigou .pinpaizixun-zhong {
    width: 3.6rem;
    height: 100%;
    background: url("../img/TB1qhIfNFXXXXcVapXXM0z2PXXX-372-453.jpg_220x10000q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
    border-right: 0.01rem solid #f1f1f1;
    border-left: 0.01rem solid #f1f1f1;
    box-sizing: border-box; }
  .suningyigou .pinpaizixun-you {
    width: 3.6rem;
    height: 100%;
    background: url("../img/TB1EzkQNFXXXXb1XpXXM0z2PXXX-372-453.jpg_220x10000q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center;
    float: left; }

.remeihangye {
  width: 100%;
  height: 0.9rem;
  background: #f0f0f0;
  position: relative; }
  .remeihangye .pinpaitemai-box {
    width: 4.87rem;
    height: 0.46rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .remeihangye .pinpaitemai-box .biqiang-zuo {
      width: 1.03rem;
      height: 0.03rem;
      background: #5d41ed;
      margin-top: 0.23rem;
      float: left; }
    .remeihangye .pinpaitemai-box .biqiang-you {
      width: 1.03rem;
      height: 0.03rem;
      background: #5d41ed;
      margin-top: 0.23rem;
      float: right; }
    .remeihangye .pinpaitemai-box .pinpaitemai-zhong {
      width: 2.21rem;
      height: 0.46rem;
      float: left;
      margin-left: 0.31rem; }
      .remeihangye .pinpaitemai-box .pinpaitemai-zhong .biqiang-tubiao {
        width: 0.46rem;
        height: 0.46rem;
        background: url("  ../img/TB1pPaLLpXXXXcHXpXXuv2kGFXX-39-39.png_.webp") no-repeat;
        background-size: contain;
        background-position: center;
        float: left; }
      .remeihangye .pinpaitemai-box .pinpaitemai-zhong .pinpaitemai-nei {
        height: 100%;
        color: #5d41ed;
        font-size: 0.23rem;
        float: right; }

.nannvxie-box {
  width: 100%;
  height: 3.01rem;
  border-bottom: 0.02rem solid #f1f1f1; }
  .nannvxie-box .nannvxie-zuo {
    width: 5.4rem;
    height: 100%;
    border-right: 0.03rem solid #f1f1f1;
    box-sizing: border-box;
    float: left; }
    .nannvxie-box .nannvxie-zuo .dianqicheng-zuo {
      width: 2.68rem;
      height: 100%;
      float: left; }
      .nannvxie-box .nannvxie-zuo .dianqicheng-zuo .biaoti {
        width: 100%;
        height: 1.505rem; }
        .nannvxie-box .nannvxie-zuo .dianqicheng-zuo .biaoti .cu {
          display: block;
          height: 0.7525rem;
          font-size: 0.16rem;
          line-height: 0.7525rem;
          text-align: center;
          font-weight: bold; }
        .nannvxie-box .nannvxie-zuo .dianqicheng-zuo .biaoti .xi {
          display: block;
          height: 0.7525rem;
          font-size: 0.16rem;
          text-align: center;
          color: #9a9a9a; }
      .nannvxie-box .nannvxie-zuo .dianqicheng-zuo .tubiao {
        width: 100%;
        height: 1.505rem;
        background: url("../img/TB1uHv1LpXXXXagXFXXXXXXXXXX-108-108.png_.webp") no-repeat;
        background-size: contain;
        background-position: center; }
    .nannvxie-box .nannvxie-zuo .dianqicheng-you {
      width: 2.68rem;
      height: 100%;
      float: left;
      background: url("../img/TB1p27vLpXXXXXyXVXXSutbFXXX.jpg_160x160q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
  .nannvxie-box .nannvxie-you {
    width: 5.4rem;
    height: 100%;
    float: left; }
    .nannvxie-box .nannvxie-you .dianqicheng-zuo {
      width: 2.68rem;
      height: 100%;
      float: left; }
      .nannvxie-box .nannvxie-you .dianqicheng-zuo .biaoti {
        width: 100%;
        height: 1.505rem; }
        .nannvxie-box .nannvxie-you .dianqicheng-zuo .biaoti .cu {
          display: block;
          height: 0.7525rem;
          font-size: 0.16rem;
          line-height: 0.7525rem;
          text-align: center;
          font-weight: bold; }
        .nannvxie-box .nannvxie-you .dianqicheng-zuo .biaoti .xi {
          display: block;
          height: 0.7525rem;
          font-size: 0.16rem;
          text-align: center;
          color: #9a9a9a; }
      .nannvxie-box .nannvxie-you .dianqicheng-zuo .tubiao {
        width: 100%;
        height: 1.505rem;
        background: url("../img/TB14v8lKVXXXXXSaXXXXXXXXXXX-108-108.png_.webp") no-repeat;
        background-size: contain;
        background-position: center; }
    .nannvxie-box .nannvxie-you .dianqicheng-you {
      width: 2.68rem;
      height: 100%;
      float: left;
      background: url("../img/TB1it7yLVXXXXb8XFXXSutbFXXX.jpg_160x160q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }

.meizhuang-box {
  width: 100%;
  height: 3.89rem;
  border-bottom: 0.02rem solid #f1f1f1; }
  .meizhuang-box .meizhuang {
    width: 2.7rem;
    height: 100%;
    border-right: 0.02rem solid #f1f1f1;
    box-sizing: border-box;
    float: left; }
    .meizhuang-box .meizhuang .biaoti {
      width: 100%;
      height: 1.2rem; }
      .meizhuang-box .meizhuang .biaoti .cu {
        display: block;
        height: 0.6remrem;
        font-size: 0.16rem;
        line-height: 0.6remrem;
        text-align: center;
        font-weight: bold; }
      .meizhuang-box .meizhuang .biaoti .xi {
        display: block;
        height: 0.6remrem;
        font-size: 0.16rem;
        text-align: center;
        color: #9a9a9a; }
    .meizhuang-box .meizhuang .tu1 {
      width: 100%;
      height: 2.69rem;
      background: url("../img/TB2tqJYjVXXXXa8XXXXXXXXXXXX_!!2-subaru.png_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .meizhuang-box .meizhuang .tu2 {
      width: 100%;
      height: 2.69rem;
      background: url("../img/TB1.l9iJFXXXXbjXVXXSutbFXXX.jpg_150x150q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .meizhuang-box .meizhuang .tu3 {
      width: 100%;
      height: 2.69rem;
      background: url("../img/TB29XFJjVXXXXXHXpXXXXXXXXXX_!!2-subaru.png_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .meizhuang-box .meizhuang .tu4 {
      width: 100%;
      height: 2.69rem;
      background: url("../img/TB2_fRwjVXXXXa7XpXXXXXXXXXX_!!2-subaru.png_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .meizhuang-box .meizhuang .tu5 {
      width: 100%;
      height: 2.69rem;
      background: url("../img/TB2TUlZjVXXXXayXXXXXXXXXXXX_!!2-subaru.png_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .meizhuang-box .meizhuang .tu6 {
      width: 100%;
      height: 2.69rem;
      background: url("../img/TB1pa6TJFXXXXcbXXXXSutbFXXX.jpg_150x150q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .meizhuang-box .meizhuang .tu7 {
      width: 100%;
      height: 2.69rem;
      background: url("../img/TB2WbFBjVXXXXaMXpXXXXXXXXXX_!!2-subaru.png_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .meizhuang-box .meizhuang .tu8 {
      width: 100%;
      height: 2.69rem;
      background: url("../img/TB1GFa_LVXXXXbbaXXXXXXXXXXX-144-144.jpg_150x150q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }

.qijian {
  width: 100%;
  height: 0.9rem;
  background: #f0f0f0;
  position: relative; }
  .qijian .pinpaitemai-box {
    width: 4.87rem;
    height: 0.46rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .qijian .pinpaitemai-box .biqiang-zuo {
      width: 1.03rem;
      height: 0.03rem;
      background: #000;
      margin-top: 0.23rem;
      float: left; }
    .qijian .pinpaitemai-box .biqiang-you {
      width: 1.03rem;
      height: 0.03rem;
      background: #000;
      margin-top: 0.23rem;
      float: right; }
    .qijian .pinpaitemai-box .pinpaitemai-zhong {
      width: 2.21rem;
      height: 0.46rem;
      float: left;
      margin-left: 0.31rem; }
      .qijian .pinpaitemai-box .pinpaitemai-zhong .biqiang-tubiao {
        width: 0.46rem;
        height: 0.46rem;
        background: url("../img/TB1yievLpXXXXcVXVXXuv2kGFXX-42-39.png_.webp") no-repeat;
        background-size: contain;
        background-position: center;
        float: left; }
      .qijian .pinpaitemai-box .pinpaitemai-zhong .pinpaitemai-nei {
        height: 100%;
        color: #000;
        font-size: 0.23rem;
        float: right; }

.qijian-box {
  width: 100%;
  height: 4.54rem;
  border-bottom: 0.1rem solid #f1f1f1; }
  .qijian-box .fenteng-box {
    width: 5.4rem;
    height: 100%;
    border-left: 0.1rem solid #f1f1f1;
    box-sizing: border-box;
    float: left; }
    .qijian-box .fenteng-box .fentengimg-box {
      width: 100%;
      height: 3.51rem; }
      .qijian-box .fenteng-box .fentengimg-box .zuo {
        width: 3.53rem;
        height: 3.51rem;
        border-right: 0.03rem solid #FFFFFF;
        box-sizing: border-box;
        float: left;
        background: url("../img/TB1aEPqLXXXXXcBXFXXXXXXXXXX_!!0-item_pic.jpg_640x640q30s0.jpg_.webp") no-repeat;
        background-size: contain;
        background-position: center; }
      .qijian-box .fenteng-box .fentengimg-box .you {
        width: 1.77rem;
        height: 100%;
        float: left; }
        .qijian-box .fenteng-box .fentengimg-box .you .you-shang {
          width: 100%;
          height: 50%;
          border-bottom: 0.03rem solid #FFFFFF;
          box-sizing: border-box;
          background: url("../img/TB1aNkYNFXXXXXmXXXXXXXXXXXX_!!0-item_pic.jpg_640x640q30s0.jpg_.webp") no-repeat;
          background-size: contain;
          background-position: center; }
        .qijian-box .fenteng-box .fentengimg-box .you .you-xia {
          width: 100%;
          height: 50%;
          background: url("../img/TB1N.j7NpXXXXXLXXXXXXXXXXXX_!!0-item_pic.jpg_640x640q30s0.jpg_.webp") no-repeat;
          background-size: contain;
          background-position: center; }
    .qijian-box .fenteng-box .fenteng-xia {
      width: 100%;
      height: 1.03rem; }
      .qijian-box .fenteng-box .fenteng-xia .zuo {
        width: 0.99rem;
        height: 100%;
        float: left;
        background: url("../img/TB11rYrGXXXXXXxaXXXSutbFXXX.jpg_640x640q30s0.jpg_.webp") no-repeat;
        background-size: contain;
        background-position: center; }
      .qijian-box .fenteng-box .fenteng-xia .biaoti {
        width: 100%;
        height: 100%; }
        .qijian-box .fenteng-box .fenteng-xia .biaoti .shang {
          display: block;
          height: 50%rem;
          font-size: 0.16rem;
          line-height: 50%rem; }
        .qijian-box .fenteng-box .fenteng-xia .biaoti .xia {
          display: block;
          height: 50%rem;
          font-size: 0.16rem;
          color: #9a9a9a; }
  .qijian-box .hengli-box {
    width: 5.4rem;
    height: 100%;
    float: left;
    border-left: 0.1rem solid #f1f1f1;
    box-sizing: border-box; }
    .qijian-box .hengli-box .fentengimg-box {
      width: 100%;
      height: 3.51rem; }
      .qijian-box .hengli-box .fentengimg-box .zuo {
        width: 3.53rem;
        height: 3.51rem;
        border-right: 0.03rem solid #FFFFFF;
        box-sizing: border-box;
        float: left;
        background: url("../img/TB1DIi8KVXXXXcvXFXXXXXXXXXX_!!0-item_pic.jpg_640x640q30s0.jpg_.webp") no-repeat;
        background-size: contain;
        background-position: center; }
      .qijian-box .hengli-box .fentengimg-box .you {
        width: 1.77rem;
        height: 100%;
        float: left; }
        .qijian-box .hengli-box .fentengimg-box .you .you-shang {
          width: 100%;
          height: 50%;
          border-bottom: 0.03rem solid #FFFFFF;
          box-sizing: border-box;
          background: url("../img/TB1hy4JKpXXXXaVXVXXXXXXXXXX_!!0-item_pic.jpg_640x640q30s0.jpg_.webp") no-repeat;
          background-size: contain;
          background-position: center; }
        .qijian-box .hengli-box .fentengimg-box .you .you-xia {
          width: 100%;
          height: 50%;
          background: url("../img/TB1JFjrJpXXXXXWXFXXXXXXXXXX_!!0-item_pic.jpg_640x640q30s0.jpg_.webp") no-repeat;
          background-size: contain;
          background-position: center; }
    .qijian-box .hengli-box .fenteng-xia {
      width: 100%;
      height: 1.03rem; }
      .qijian-box .hengli-box .fenteng-xia .zuo {
        width: 0.99rem;
        height: 100%;
        float: left;
        background: url("../img/TB1WjRXGFXXXXcKXXXXSutbFXXX.jpg_640x640q30s0.jpg_.webp") no-repeat;
        background-size: contain;
        background-position: center; }
      .qijian-box .hengli-box .fenteng-xia .biaoti {
        width: 100%;
        height: 100%; }
        .qijian-box .hengli-box .fenteng-xia .biaoti .shang {
          display: block;
          height: 50%rem;
          font-size: 0.16rem;
          line-height: 50%rem; }
        .qijian-box .hengli-box .fenteng-xia .biaoti .xia {
          display: block;
          height: 50%rem;
          font-size: 0.16rem;
          color: #9a9a9a; }

.aapa-box {
  width: 100%;
  height: 4.54rem;
  border-bottom: 0.1rem solid #f1f1f1; }
  .aapa-box .fenteng-box {
    width: 5.4rem;
    height: 100%;
    border-left: 0.1rem solid #f1f1f1;
    box-sizing: border-box;
    float: left; }
    .aapa-box .fenteng-box .fentengimg-box {
      width: 100%;
      height: 3.51rem; }
      .aapa-box .fenteng-box .fentengimg-box .zuo {
        width: 3.53rem;
        height: 3.51rem;
        border-right: 0.03rem solid #FFFFFF;
        box-sizing: border-box;
        float: left;
        background: url("../img/TB1YMCDJFXXXXcsXXXXXXXXXXXX_!!0-item_pic.jpg_640x640q30s0.jpg_.webp") no-repeat;
        background-size: contain;
        background-position: center; }
      .aapa-box .fenteng-box .fentengimg-box .you {
        width: 1.77rem;
        height: 100%;
        float: left; }
        .aapa-box .fenteng-box .fentengimg-box .you .you-shang {
          width: 100%;
          height: 50%;
          border-bottom: 0.03rem solid #FFFFFF;
          box-sizing: border-box;
          background: url("../img/TB1erGVLVXXXXbJXXXXXXXXXXXX_!!0-item_pic.jpg_640x640q30s0.jpg_.webp") no-repeat;
          background-size: contain;
          background-position: center; }
        .aapa-box .fenteng-box .fentengimg-box .you .you-xia {
          width: 100%;
          height: 50%;
          background: url("../img/TB1JhV8LXXXXXXeXpXXXXXXXXXX_!!0-item_pic.jpg_640x640q30s0.jpg_.webp") no-repeat;
          background-size: contain;
          background-position: center; }
    .aapa-box .fenteng-box .fenteng-xia {
      width: 100%;
      height: 1.03rem; }
      .aapa-box .fenteng-box .fenteng-xia .zuo {
        width: 0.99rem;
        height: 100%;
        float: left;
        background: url("../img/TB1kG6.GVXXXXcMXpXXSutbFXXX.jpg_640x640q30s0.jpg_.webp") no-repeat;
        background-size: contain;
        background-position: center; }
      .aapa-box .fenteng-box .fenteng-xia .biaoti {
        width: 100%;
        height: 100%; }
        .aapa-box .fenteng-box .fenteng-xia .biaoti .shang {
          display: block;
          height: 50%rem;
          font-size: 0.16rem;
          line-height: 50%rem; }
        .aapa-box .fenteng-box .fenteng-xia .biaoti .xia {
          display: block;
          height: 50%rem;
          font-size: 0.16rem;
          color: #9a9a9a; }
  .aapa-box .hengli-box {
    width: 5.4rem;
    height: 100%;
    float: left;
    border-left: 0.1rem solid #f1f1f1;
    box-sizing: border-box; }
    .aapa-box .hengli-box .fentengimg-box {
      width: 100%;
      height: 3.51rem; }
      .aapa-box .hengli-box .fentengimg-box .zuo {
        width: 3.53rem;
        height: 3.51rem;
        border-right: 0.03rem solid #FFFFFF;
        box-sizing: border-box;
        float: left;
        background: url("../img/TB1aB8LNpXXXXcGXVXXYXGcGpXX_M2.SS2_640x640q30s0.jpg_.webp") no-repeat;
        background-size: contain;
        background-position: center; }
      .aapa-box .hengli-box .fentengimg-box .you {
        width: 1.77rem;
        height: 100%;
        float: left; }
        .aapa-box .hengli-box .fentengimg-box .you .you-shang {
          width: 100%;
          height: 50%;
          border-bottom: 0.03rem solid #FFFFFF;
          box-sizing: border-box;
          background: url("../img/TB1Bad0NpXXXXcsXpXXXXXXXXXX_!!0-item_pic.jpg_640x640q30s0.jpg_.webp") no-repeat;
          background-size: contain;
          background-position: center; }
        .aapa-box .hengli-box .fentengimg-box .you .you-xia {
          width: 100%;
          height: 50%;
          background: url("../img/TB15MV9NpXXXXc3XFXXYXGcGpXX_M2.SS2_640x640q30s0.jpg_.webp") no-repeat;
          background-size: contain;
          background-position: center; }
    .aapa-box .hengli-box .fenteng-xia {
      width: 100%;
      height: 1.03rem; }
      .aapa-box .hengli-box .fenteng-xia .zuo {
        width: 0.99rem;
        height: 100%;
        float: left;
        background: url("../img/TB12LdvNpXXXXcwaXXXSutbFXXX.jpg_640x640q30s0.jpg_.webp") no-repeat;
        background-size: contain;
        background-position: center; }
      .aapa-box .hengli-box .fenteng-xia .biaoti {
        width: 100%;
        height: 100%; }
        .aapa-box .hengli-box .fenteng-xia .biaoti .shang {
          display: block;
          height: 50%rem;
          font-size: 0.16rem;
          line-height: 50%rem; }
        .aapa-box .hengli-box .fenteng-xia .biaoti .xia {
          display: block;
          height: 50%rem;
          font-size: 0.16rem;
          color: #9a9a9a; }

.mengwakong-box {
  width: 100%;
  height: 3.89rem;
  border-bottom: 0.02rem solid #f1f1f1; }
  .mengwakong-box .meizhuang {
    width: 2.7rem;
    height: 100%;
    border-right: 0.02rem solid #f1f1f1;
    box-sizing: border-box;
    float: left; }
    .mengwakong-box .meizhuang .biaoti {
      width: 100%;
      height: 1.2rem; }
      .mengwakong-box .meizhuang .biaoti .cu {
        display: block;
        height: 0.6remrem;
        font-size: 0.16rem;
        line-height: 0.6remrem;
        text-align: center;
        font-weight: bold; }
      .mengwakong-box .meizhuang .biaoti .xi {
        display: block;
        height: 0.6remrem;
        font-size: 0.16rem;
        text-align: center;
        color: #9a9a9a; }
    .mengwakong-box .meizhuang .tu5 {
      width: 100%;
      height: 2.69rem;
      background: url("../img/TB2J_HmXjzyQeBjy0FeXXbwyFXa_!!556579141.png_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .mengwakong-box .meizhuang .tu6 {
      width: 100%;
      height: 2.69rem;
      background: url("../img/TB2xN1bqFXXXXXLXXXXXXXXXXXX_!!1971676541.png_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .mengwakong-box .meizhuang .tu7 {
      width: 100%;
      height: 2.69rem;
      background: url("../img/TB267.0oFXXXXazXXXXXXXXXXXX_!!0-dgshop.jpg_150x150q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }
    .mengwakong-box .meizhuang .tu8 {
      width: 100%;
      height: 2.69rem;
      background: url("../img/TB2vWRGtVXXXXXDXpXXXXXXXXXX_!!1870127567.jpg_150x150q30s0.jpg_.webp") no-repeat;
      background-size: contain;
      background-position: center; }

.nixihuan {
  width: 100%;
  height: 0.9rem;
  background: #f1f1f1;
  position: relative; }
  .nixihuan .pinpaitemai-box {
    width: 4.87rem;
    height: 0.46rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .nixihuan .pinpaitemai-box .biqiang-zuo {
      width: 1.03rem;
      height: 0.03rem;
      background: #9a9a9a;
      margin-top: 0.23rem;
      float: left; }
    .nixihuan .pinpaitemai-box .biqiang-you {
      width: 1.03rem;
      height: 0.03rem;
      background: #9a9a9a;
      margin-top: 0.23rem;
      float: right; }
    .nixihuan .pinpaitemai-box .pinpaitemai-zhong {
      width: 2.21rem;
      height: 0.46rem;
      float: left;
      margin-left: 0.31rem;
      color: #9a9a9a;
      line-height: 0.46rem;
      font-size: 0.23rem;
      text-align: center; }

.weiqisi-box {
  width: 5.4rem;
  height: 7.53rem;
  border-bottom: 0.1rem solid #f1f1f1;
  border-right: 0.1rem solid #f1f1f1;
  box-sizing: border-box;
  float: left; }
  .weiqisi-box .shang1 {
    width: 100%;
    height: 5.38rem;
    background: url("../img/TB1k_EENFXXXXb0XFXXXXXXXXXX_!!0-item_pic.jpg_320x5000q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center; }
  .weiqisi-box .shang2 {
    width: 100%;
    height: 5.38rem;
    background: url("../img/TB1u5Q7MpXXXXXgXpXXXXXXXXXX_!!0-item_pic.jpg_320x5000q30s0.jpg_.webp") no-repeat;
    background-size: contain;
    background-position: center; }
  .weiqisi-box .zhong {
    width: 99.46%rem;
    height: 1.16rem;
    font-size: 0.14rem;
    padding: 0.27rem;
    padding-top: 0;
    padding-bottom: 0;
    color: #595959;
    overflow: hidden; }
  .weiqisi-box .xia {
    width: 99.46%rem;
    height: 0.9rem;
    font-size: 0.14rem;
    padding: 0.27rem;
    padding-top: 0;
    padding-bottom: 0;
    color: #cd232c; }
